/* Your styles here */
header {
    background-color: #222f3f; 
    height: 100%;
}

.logo-section {
    width: 10%;
    margin: 1%; 
    margin-left: 3%;
}

.menu-section {
    background-color: #364759; 
}

.logo {
    max-width: 100%;
    height: auto;
}

.text {
    display: flex;
}

.text a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
}

main{ 
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;

}

.square-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 30px; 
    background-color: #f56600; 
    margin-bottom: 2%;
    
}
    

.square-text {
    color: white;
    text-align: center;
}

.my-container {
    background: url('/assets/images/bg-image.png') center/contain repeat; 
    height: 150px; 
    display: flex;
    margin-bottom: 3%;
     
    justify-content: center; 
}


.image-container {
    display: flex; 
    background-color: #fff;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    
}

.image-container img {
    width: 23%; 
    height: 250px; 
    margin-right: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.image-container img:last-child {
    margin-right: 0;
}


.textb{
    
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: #000000;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

footer {
    background-color: #222f3f; 
    height: 100%;
    
}



.buttonsection {
    background-color: #364759; 
    color: #fff;
    width: 100%;
    text-align: center;
}

.buttonsection a{
    font-size: 12px;
    color: inherit; 
    text-decoration: none;
    text-decoration: underline;
    
}

.logo-sectionf {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
    

.small-text {
    font-size: 12px; /* Dimensione del testo più piccola, ad esempio 12 pixel */
    color: #555; /* Colore del testo, ad esempio grigio scuro */
}

.blue {
    color: blue;
    font-size: 10px; 
}


